* {
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

.paragraf {
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
}

.special {
    color: white;
}